aside {
    width: calc(290 / 1180 * 100%);
    background: #F7F9FB;
}

aside h3 {
    font-weight: 700;
    font-size: 14px;
}

aside h4 {
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;

}

aside section {
    padding: 9% 10% 8%;
    margin-bottom: 19px;
}

.aside-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 19px;
    border-bottom: 1px solid #F4F4F4;
}

.title-third-block {
    margin: 0 auto;
}

.dashboard-info,
.courses,
.visitors-container {
    margin-top: 19px;
}

.dashboard-link {
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    color: #0275B1;
}

.info-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.number-aside {
    font-size: 52px;
    line-height: 50px;
    text-transform: uppercase;
    color: #0275B1;
}

.views-aside {
    font-weight: 400;
    margin-top: 3px;
}

.visitors-title a {
    text-decoration: none;
}

.visitor {
    display: flex;
    margin-bottom: 15px;
}

.info-visitor {
    margin-left: 15px;
}

.visitor h3 {
    font-size: 14px;
    line-height: 13px;
    margin-top: 11px;
}

.visitor span {
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
}

.visitor img {
    height: 52px;
}

.courses {
    max-height: 195px;
    transition: .7s;
    overflow: hidden;
}

.course-title {
    text-transform: uppercase;
}

.info-course {
    width: 65%;
}

.info-course h3,
.info-course span {
    margin-left: 15px;
}

.course {
    margin-bottom: 15px;
    display: flex;
}

.course span {
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
}

.course-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 52px;
    cursor: pointer;
}

@media screen and (max-width: 991px) {
    aside {
        display: none;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {

    aside h4,
    .dashboard-link {
        font-size: 12px;
        line-height: 14px;
        margin-right: 10px;
        text-decoration: none;
        text-align: center;
    }

    .visitor h3 {
        font-size: 12px;
        margin-top: 9px;
    }

    .info-course h3 {
        font-size: 10px;
    }

    .aside-title {
        padding-bottom: 16px;
    }

    .dashboard-info {
        margin-top: 15px;
    }

    .your-dashboard {
        padding: 24px 10% 29px;
    }

    .your-dashboard a {
        display: none;
    }

    .your-dashboard .aside-title {
        justify-content: center;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {
    aside h3 {
        font-size: 12px;
    }
}

@media screen and (max-width: 992px) {
    aside {
        position: absolute;
        right: 40px;
        transform: translateX(calc(100% + 40px));
        transition: 1s linear;
    }
}
