aside {
    width: calc(290 / 1180 * 100%);
    margin-left: 40px;
    background: #F7F9FB;
}

aside h3 {
    font-weight: 700;
    font-size: 14px;
}

aside h4 {
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;

}

aside section {
    padding: 25px 30px 31px;
    margin-bottom: 19px;
}

.aside-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #F4F4F4;
}

.your-dashboard {
    padding: 25px 30px 11px;
}

.title-third-block {
    margin: 0 auto;
}
.dashboard-info,
.courses,
.visitors-container {
    margin-top: 20px;
}

.dashboard-link {
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    color: #0275B1;
}

.info-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.number-aside {
    font-size: 52px;
    line-height: 50px;
    text-transform: uppercase;
    color: #0275B1;
}

.views-aside {
    font-family: 'Gotham Pro';
    font-weight: 400;
    margin-top: 3px;
}

.visitors-title a {
    text-decoration: none;
}

.visitor {
    display: flex;
    margin-bottom: 15px;
}

.info-visitor {
    margin-left: 15px;
}

.visitor h3 {
    font-size: 14px;
    line-height: 13px;
    margin-top: 11px;
}

.visitor span {
    font-family: 'Gotham Pro';
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
}

.course-title {
    text-transform: uppercase;
}

.info-course {
	width: 65%;
}

.info-course h3, .info-course span {
	margin-left: 15px;
}

.course {
    margin-bottom: 15px;
    display: flex;
}

.course span {
    font-family: 'Gotham Pro';
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
}

.course1,
.course2,
.course3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 52px;
    cursor: pointer;
}

.course1 {
    background: url("../images/images.png/course1.png") no-repeat;
}

.course2 {
    background: url("../images/images.png/course2.png") no-repeat;
}

.course3 {
    background: url("../images/images.png/course3.png") no-repeat;
}

.courses .dashboard-link {
	display: block;
	margin: 29px 0 0 0;
	text-decoration: none;
}

@media screen and (max-width: 991px) {}

@media screen and (min-width: 1200px) {}