footer {
    display: flex;
    justify-content: center;
    padding: 35px 0 53px;
    background: #F7F9FB;
    border-top: 1px solid #E7E7E7;
}

footer .logo-name {
    display: flex;
    margin-top: 12px;
    font-size: 14px;
    line-height: 150%;
}

footer .logo-name span:last-child {
    color: #0775B0;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 69px;
}

.footer-title {
    font-size: 12px;
    line-height: 11px;
    margin-bottom: 23px;
}

.nav-container {
    display: flex;
}

.nav {
    display: flex;
    flex-direction: column;
    margin-right: 85px;
}

.nav a {
    margin-bottom: 18px;
    color: #181818;
    font-family: 'Gotham Pro';
    font-weight: 400;
    font-size: 12px;
    line-height: 11px;
    text-decoration: none;
}

.button-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 0 10px 0 15px;
}

.fast-access-title {
    display: block;
    margin-bottom: 23px;
}

.footer-language {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

.footer-language select {
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 4px;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    width: 270px;
}

.footer-language select:focus {
    outline: none;
}