header {
    display: flex;
    background: #fff;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
}

header>div {
    border-right: 1px solid #F4F4F4;
}

.logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.logo img {
    margin: auto;
    cursor: pointer;
}

.navigation {
    display: flex;
    padding: 0 20px 0 13px;
    flex-grow: 1.5;
}

.icon {
    min-width: 90px;
    text-align: center;
    padding-top: 50px;
    margin: 0 auto;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: center 14px;
    color: #181818;
}

.icon-briefcase {
    background-image: url(../images/images.svg/briefcase.svg);
}

.icon-rss {
    background-image: url(../images/images.svg/rss.svg);
}

.icon-users {
    background-image: url(../images/images.svg/users.svg);
}

.icon-chat {
    background-image: url(../images/images.svg/message-square.svg);
}

.icon-bell {
    background-image: url(../images/images.svg/bell.svg);
}

.search-container {
    display: flex;
    align-items: center;
    flex-grow: 3;
}

.icon-search {
    height: 24px;
    width: 24px;
    margin: 0 20px 0 30px;
    background: url(../images/images.svg/search.svg) no-repeat;
}

.search {
    font-weight: 300;
    height: 15px;
    font-size: 16px;
    line-height: 15px;
    border: none;
    cursor: pointer;
}

.search:focus {
    outline: 0;
}

.user-data {
    display: flex;
    align-items: center;
    flex-grow: 3;
}

.user-avatar {
    margin: 0 15px 0 30px;
}

.user-information {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 105px;
}

.info-top {
    display: flex;
    margin-bottom: 10px;
}

.info-bottom {
    display: flex;
}

.who {
    font-weight: 400;
    color: rgba(24, 24, 24, 0.2);
    margin-left: 10px;
}

.views {
    font-weight: 400;
    color: #747474;
    text-transform: none;
}

.rating {
    color: #02B033;
    margin: 0 2px 0 4px;
}

.arrow-up-right {
    height: 12px;
    width: 12px;
    background: url(../images/images.svg/arrow-up-right.svg) no-repeat;
}

.other {
    width: 90px;
}

.dots {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 24px;
    height: 24px;
    margin: 15px auto;
    cursor: pointer;
}

.dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #181818;
}

.dots div {
    width: 5px;
    height: 5px;
}

.other div a {
    display: block;
    text-align: center;
    color: #181818;
    text-decoration: none;
}

.menu-burger {
    height: 100%;
    align-items: center;
    flex-grow: 1;
    display: none;
}

.menu-btn {
    display: block;
    position: relative;
    height: 100%;
    width: 80px;
    border-radius: 50%;
    border: 1px solid #F4F4F4;
    background: #fcfcfc;
    margin: auto;
}

.menu-btn span::before,
.menu-btn span::after,
.menu-btn span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 2px;
    margin-left: -15px;
    margin-top: -1px;
    background-color: #000;
}

.menu-btn span::before,
.menu-btn span::after {
    content: '';
    transition: 0.3s;
}

.menu-btn span::before {
    transform: translateY(-10px);
}

.menu-btn span::after {
    transform: translateY(10px);
}

.menu-btn-active span {
    height: 0;
}

.menu-btn-active span::before {
    transform: rotate(45deg);
}

.menu-btn-active span::after {
    transform: rotate(-45deg);
}

.menu-links {
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    width: 100%;
    z-index: 10;
    background: #fff;
    border: 1px solid #F4F4F4;
}

.menu-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 100%;
    text-decoration: none;
    color: #000;
    font-size: 15px;
    border-bottom: 1px solid #F4F4F4;
}

.menu-links,
.menu-btn {
    display: none;
}

.search-menu {
    display: none;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    border-bottom: 1px solid #F4F4F4;
}

@media screen and (max-width: 575px) {
    header {
        height: 60px;
    }

    .info-menu {
        display: block;
    }

    .logo {
        width: 53px;
    }

    .logo img {
        height: 42px;
    }

    .info-menu {
        padding: 10px 0 4px 0;
        border-bottom: 1px solid #F4F4F4;
    }

    .name,
    .who,
    .views,
    .rating {
        font-size: 14px;
    }

    .info-menu div {
        margin-bottom: 4px;
        text-align: center;
    }

    .menu-btn {
        height: 53px;
        width: 53px;
        margin: auto;
    }

    .menu-btn span,
    .menu-btn span::before,
    .menu-btn span::after {
        width: 26px;
        margin-left: -13px;
    }
}

@media screen and (min-width: 576px) {
    header {
        height: 75px;
    }

    .user-information {
        display: block;
    }

    .logo {
        width: 80px;
    }

    .menu-btn {
        height: 65px;
        width: 65px;
    }
}

@media screen and (max-width: 767px) {
    header {
        flex-wrap: wrap;
    }

    .menu-links,
    .menu-btn {
        display: block;
    }

    .menu-burger,
    .search-menu {
        display: flex;
    }

    .navigation,
    .other,
    .search-container,
    .user-information,
    .info-menu,
    .menu-none {
        display: none;
    }

    .user-avatar {
        margin: 0 auto;
    }
}

@media screen and (min-width: 767px) and (max-width: 991px) {
    .logo {
        width: 75px;
    }

    .icon {
        min-width: 56px;
        font-size: 11px;
        background-size: 22px;
    }
}

@media screen and (min-width: 992px) {
    header {
        height: 80px;
    }

    .logo {
        width: 90px;
    }

    .icon {
        min-width: 75px;
    }
}

@media screen and (min-width: 1200px) {
    .user-information {
        margin-right: 36px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .none {
        display: none;
        flex-grow: 0;
    }

    .icon-search,
    .user-avatar {
        cursor: pointer;
    }

    .user-avatar {
        margin: 0 15px 0 20px;
    }

    .user-information {
        margin-right: 25px;
    }

    .search-container {
        order: 1;
    }

    .search {
        max-width: 147px;
    }

    .other {
        width: 80px;
        order: 2;
    }

    .auto {
        margin: 0 auto;
    }
}

@media screen and (min-width: 1450px) {
    header {
        justify-content: center;
    }

    .logo {
        max-width: 130px;
        border-left: 1px solid #F4F4F4;
    }

    .navigation {
        max-width: 480px;
    }

    .search-container {
        max-width: 367px;
    }

    .user-data {
        max-width: 330px;
    }
}