header {
    height: 80px;
    display: flex;
    justify-content: left;
    position: relative;
    background: #fff;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
}

.logo {
    display: flex;
    align-items: center;
    border-left: 1px solid #F4F4F4;
}

.logo img {
    margin: auto;
    cursor: pointer;
}

.navigation {
    display: flex;
}


.search-container {
    display: flex;
    align-items: center;
}

.icon-search {
    height: 24px;
    width: 24px;
    background: url(../images/svg/search.svg) no-repeat;
}

.search {
    font-weight: 300;
    height: 15px;
    font-size: 16px;
    line-height: 15px;
    border: none;
}

.search:focus {
    outline: 0;
}

.user-data {
    display: flex;
    align-items: center;
}

.user-information {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.info-top {
    display: flex;
    margin-bottom: 10px;
}

.info-bottom {
    display: flex;
}

.who {
    font-weight: 400;
    color: rgba(24, 24, 24, 0.2);
    margin-left: 10px;
}

.views {
    font-weight: 400;
    color: #747474;
    text-transform: none;
}

.rating {
    color: #02B033;
    margin: 0 2px 0 4px;
}

.arrow-up-right {
    height: 12px;
    width: 12px;
    background: url(../images/svg/arrow-up-right.svg) no-repeat;
}

.menu-burger {
    display: none;
}

.menu-btn {
    display: block;
    position: relative;
    height: 100%;
    width: 80px;
    border-radius: 50%;
    border: 1px solid #F4F4F4;
    background: #fcfcfc;
    margin: auto;
}

.menu-btn span::before,
.menu-btn span::after,
.menu-btn span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 2px;
    margin-left: -15px;
    margin-top: -1px;
    background-color: #000;
}

.menu-btn span::before,
.menu-btn span::after {
    content: '';
    transition: .3s;
}

.menu-btn span::before {
    transform: translateY(-10px);
}

.menu-btn span::after {
    transform: translateY(10px);
}

.active-btn .menu-btn span {
    height: 0;
}

.active-btn .menu-btn span::before {
    transform: rotate(45deg);
}

.active-btn .menu-btn span::after {
    transform: rotate(-45deg);
}

.active-btn .menu-btn span::after {
    transform: rotate(-45deg);
}


.search-menu {
    display: none;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    border-bottom: 1px solid #F4F4F4;
}

.profile-more,
.profile-more-link {
    display: none;
}

@media screen and (max-width: 575px) {
    header {
        height: 60px;
        justify-content: space-between;
    }

    .navigation {
        width: 45%;
    }

    .logo {
        min-width: 80px;
        border-right: 1px solid #F4F4F4;
    }

    .logo img {
        height: 42px;
    }

    .user-data {
        position: relative;
        min-width: 157px;
    }

    .user-information {
        opacity: 0;
        visibility: hidden;
        transition: .3s linear;
        top: 60%;
        position: absolute;
        padding: 11px 10px 18px 10px;
        background: #fff;
        border-top: 1px solid #F4F4F4;
    }

    .active-profile .user-information {
        opacity: 1;
        visibility: visible;
        top: 100%;
    }

    .menu-burger {
        min-width: 80px;
        border-left: 1px solid #F4F4F4;
    }

    .menu-btn {
        height: 52px;
        width: 52px;
    }

    .menu-btn span,
    .menu-btn span::before,
    .menu-btn span::after {
        width: 26px;
        margin-left: -13px;
    }

    .user-avatar {
        display: flex;
        margin: 0 auto;
    }

    .profile-more {
        display: flex;
        align-items: center;
        margin-left: 10px;
        cursor: pointer;
    }

    .active-profile .profile-more {
        color: #0275B1;
    }

    .profile-more-link {
        display: block;
        height: 30px;
        color: #0275B1;
        padding: 5px;
        line-height: 14px;
        text-align: center;
        text-decoration: none;
    }

    .info-top {
        margin: 2px 0 9px 0;
    }

    .info-bottom {
        margin-bottom: 10px;
        padding-bottom: 15px;
        border-bottom: 1px solid #F4F4F4;
    }

    .active-menu .sub-icon,
    .active-other .other-icon,
    .icon-other,
    .icon-menu {
        height: 50px;
    }
}

@media screen and (min-width: 576px) {
    header > div {
        border-right: 1px solid #F4F4F4;
    }

    .logo {
        min-width: 80px;
    }

    .menu-btn {
        height: 58px;
        width: 58px;
    }

    .menu-burger {
        align-items: center;
        flex-basis: 80px;
        min-width: 80px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .navigation {
        width: 38%;
    }

    .user-avatar {
        margin: 0 15px 0 30px;
    }

    .user-data {
        flex-grow: 1;
    }

    .active-menu .sub-icon,
    .active-other .other-icon,
    .icon-other,
    .icon-menu {
        height: 55px;
    }
}

@media screen and (max-width: 767px) {
    .menu-burger {
        display: flex;
    }

    .other,
    .menu-none {
        display: none;
    }

    .search-container {
        height: 55px;
        border-bottom: 1px solid #F4F4F4;
        justify-content: center;
    }

    .search {
        width: 95px;
    }

    .navigation {
        position: absolute;
        top: 20%;
        right: 0;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        flex-direction: column;
        background: #fff;
        border: 1px solid #F4F4F4;
    }

    .active-btn .navigation {
        opacity: 1;
        visibility: visible;
        top: 100%;
    }

    .sub-icon,
    .other-icon,
    .icon-menu,
    .icon-other {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        font-size: 14px;
        text-decoration: none;
        color: #181818;
    }

    .sub-icon,
    .other-icon {
        height: 0;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
    }

    .active-profile .profile-more svg,
    .active-menu .svg1,
    .active-other .svg2 {
        transform: rotate(180deg);
        fill: #0275B1;
    }

    .active-menu .icon-menu,
    .active-other .icon-other {
        color: #0275B1;
    }

    .profile-more svg,
    .navigation svg {
        margin-left: 4px;
        transition: .3s;
    }

    .active-menu .sub-icon,
    .active-other .other-icon,
    .icon-other,
    .icon-menu {
        opacity: 1;
        visibility: visible;
        border-bottom: 1px solid #F4F4F4;
    }
}

@media screen and (min-width: 768px) {
    .icon {
        min-width: 50px;
        text-align: center;
        padding-top: 50px;
        margin: 0 auto;
        text-decoration: none;
        background-repeat: no-repeat;
        background-position: center 14px;
        color: #181818;
    }

    .icon-briefcase {
        background-image: url(../images/svg/briefcase.svg);
    }

    .icon-rss {
        background-image: url(../images/svg/rss.svg);
    }

    .icon-users {
        background-image: url(../images/svg/users.svg);
    }

    .icon-chat {
        background-image: url(../images/svg/message-square.svg);
    }

    .icon-bell {
        background-image: url(../images/svg/bell.svg);
    }

    .search-container {
        border-left: 1px solid #F4F4F4;
    }

    .other {
        min-width: 80px;
    }

    .other {
        position: relative;
        cursor: pointer;
    }

    .dots {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 24px;
        height: 24px;
        margin: 15px auto;
        cursor: pointer;
    }

    .other-links {
        display: flex;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        width: 185px;
        align-items: center;
        flex-direction: column;
        top: 30%;
        right: 0;
        background: #fff;
        transition: .5s;
    }

    .active-other .other-links {
        opacity: 1;
        visibility: visible;
        top: 100%;
    }

    .other-link {
        padding: 23px;
        font-size: 14px;
        border-bottom: 1px solid #F4F4F4;
        text-decoration: none;
        color: #181818;
    }

    .active-other .dot {
        background: #0275B1;
    }

    .active-other .dot::before,
    .active-other .dot::after {
        background: #0275B1;
    }

    .active-other .dot::before {
        transform: translateX(10px);
    }

    .active-other .dot::after {
        transform: translateX(-10px);
    }

    .active-other .other-title {
        color: #0275B1;
    }

    .dot::before,
    .dot::after,
    .dot {
        position: absolute;
        top: 34%;
        left: 50%;
        margin-left: -2px;
        margin-top: -2px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #181818;
        transition: .4s ease-in;
    }

    .dot::before {
        content: '';
        transform: translateX(-10px);
    }

    .dot::after {
        content: '';
        transform: translateX(10px);
    }

    .other-title {
        display: block;
        text-align: center;
        margin-top: 51px;
        color: #181818;
        text-decoration: none;
        transition: .4s;
    }

    .icon-other,
    .icon-menu,
    .other-icon {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .icon-search {
        margin: 0 auto;
    }

    .search {
        display: none;
        width: 167px;
    }

    .user-avatar {
        margin: 0 15px 0 20px;
    }

    .active-search .search-container .icon-search {
        margin: 0 10px 0 15px;
    }

    .active-search .search-container .search {
        display: flex;
    }

    .active-search .user-data .user-information {
        display: none;
    }

    .active-search .user-data .user-avatar {
        margin: 0 auto;
    }

    .user-data {
        flex-grow: 1;
    }

    .icon {
        font-size: 0;
        background-position: center;
        flex-grow: 1;
    }

    .search-container {
        min-width: 45px;
        flex-grow: 2;
    }

    .icon-search,
    .user-avatar {
        cursor: pointer;
    }
}

@media screen and (min-width: 992px) {

    .logo {
        min-width: 90px;
    }

    .icon-search {
        margin: 0 10px 0 20px;
    }

    .icon-bell {
        margin-right: 6px;
    }

    .user-avatar {
        margin: 0 10px 0 20px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .icon {
        min-width: 68px;
        font-size: 11px;
        background-size: 22px;
    }

    .search-container,
    .user-data {
        flex-basis: 300px;
    }
}

@media screen and (min-width: 1200px) {
    .logo {
        min-width: 130px;
    }

    .icon {
        min-width: 78px;
    }

    .navigation {
        max-width: 850px;
    }

    .search-container {
        flex-basis: 367px;
    }

    .icon-search {
        margin: 0 20px 0 30px;
    }

    .user-data {
        flex-basis: 330px;
    }

    .user-avatar {
        margin: 0 15px 0 30px;
    }

    .icon-rss {
        margin-left: 13px;
    }

    .icon-bell {
        margin-right: 18px;
    }

    .other {
        min-width: 90px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
    .navigation {
        flex-grow: 3;
    }
}

@media screen and (min-width: 1441px) {
    header {
        justify-content: center;
    }

    .icon {
        min-width: 90px;
    }

    .search-container {
        min-width: 367px;
    }

    .user-data {
        min-width: 330px;
    }

}