main {
    width: 850px;
    display: flex;
    flex-direction: column;
}

main h3 {
    font-family: Gotham Pro;
    font-weight: 700;
    font-size: 18px;
    line-height: 17px;
}

main h4,
aside h4 {
    font-family: Gotham Pro;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
}

.profile {
    width: 850px;
    height: 360px;
    background-color: #fff;
    background-image: url(../images.png/profile-bg.png);
    background-repeat: no-repeat;
}

.profile section {
    padding: 20px 30px 35px;
}

.profile-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.upload {
    display: flex;
    align-items: center;
    height: 36px;
    width: 36px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 10px 30px rgba(113, 123, 133, 0.05);
    border-radius: 4px;
    cursor: pointer;
}

.icon-upload {
    height: 16px;
    width: 16px;
    background: url(../images.svg/upload.svg) no-repeat;
    margin: auto;
}

.edit-profile {
    margin-left: 563px;
}

.edit {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 36px;
    width: 132px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 10px 30px rgba(113, 123, 133, 0.05);
    border-radius: 4px;
    cursor: pointer;
}

.edit b {
    font-family: Gotham Pro;
    font-weight: 400;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
}

.icon-edit {
    height: 16px;
    width: 16px;
    background: url(../images.svg/edit.svg) no-repeat;
}

.more {
    display: flex;
    height: 36px;
    width: 36px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 10px 30px rgba(113, 123, 133, 0.05);
    border-radius: 4px;
}

.user-info {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}

.user-info img {
    display: block;
}

.icon-more {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 24px;
    height: 18px;
    cursor: pointer;
    margin: auto;
}

.icon-more span {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #181818;
}

.location {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.name-profile {
    display: flex;
    align-items: center;
}

.name-logo span {
    font-family: Gotham Pro;
    font-weight: 500;
    font-size: 18px;
    line-height: 17px;
}

.name-profile img {
    margin-left: 4px;
}

.name-profile span {
    font-family: Gotham Pro;
    font-weight: 700;
    font-size: 18px;
    line-height: 17px;
}

.geolocation {
    display: flex;
    width: 242px;
    align-items: center;
    justify-content: space-between;
}

.geolocation span {
    font-size: 12px;
}

.practice {
    margin: 14px 0 15px 0;
    width: 583px;
    height: 42px;
    font-size: 14px;
}

.buttons-info {
    margin-bottom: 6px;
}

.button-info {
    width: 170px;
    height: 32px;
    border-radius: 4px;
    font-family: Gotham Pro;
    font-weight: 500;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    cursor: pointer;
    background: #FFFFFF;
    border: 1px solid #0275B1;
    color: #0275B1;
    margin-right: 15px;
}

.buttons-info .active,
.fast-access .active {
    width: 170px;
    height: 32px;
    border-radius: 4px;
    font-family: Gotham Pro;
    font-weight: 500;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
    color: #FFFFFF;
}

button:focus {
    outline: none;
}

.buttons {
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin: 21px 0 30px 0;
}

.buttons div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E7E7E7;
    background: #FFFFFF;
    width: 240px;
    height: 40px;
    cursor: pointer;
    font-family: Gotham Pro;
    font-weight: 500;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    color: #000;
}

.buttons .active {
    height: 50px;
    width: 240px;
    background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
    border-radius: 4px 4px 0px 0px;
    font-family: Gotham Pro;
    font-weight: 500;
    color: #FFFFFF;
}

.about {
    width: 100%;
    height: 170px;
    background: #fff;
}

.about p {
    margin: 15px 0 20px 0;
    font-size: 14px;
    line-height: 150%;
}

.about a {
    font-family: Gotham Pro;
    font-weight: 500;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    text-decoration: none;
    color: #0275B1;

}

.projects {
    width: 100%;
    height: 355px;
    background: #fff;
    margin: 19px 0 21px 0;
    position: relative;
}

.title-project {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.projects .title-project h3 {
    margin: 0;
}

.projects .title-project span {
    font-size: 18px;
    line-height: 17px;
    color: #747474;
    margin-left: 10px;
}

.project-info {
    display: flex;
    justify-content: space-between;
    width: 790px;
    height: 216px;
    margin: auto;
}

.project {
    height: 100%;
    width: 250px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    cursor: pointer;
}

.project1 {
    background: url(../images.svg/project1.svg) no-repeat;
}

.project2 {
    background: url(../images.svg/project2.svg) no-repeat;
}

.project3 {
    background: url(../images.svg/project3.svg) no-repeat;
}

.project h4 {
    margin-bottom: 5px;
}

.project-data {
    font-family: Gotham Pro;
    font-weight: 300;
    font-size: 10px;
    line-height: 150%;
}

.show-all {
    display: block;
    margin-top: 25px;
    font-family: Gotham Pro;
    font-weight: 500;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    text-decoration: none;
    color: #0275B1;
}

.skills-endoresments {
    width: 100%;
    height: 220px;
    background: #fff;
}


.skills {
    display: flex;
    justify-content: space-between;
    width: 790px;
    height: 80px;
    margin: 24px 0 25px 0;
}

.skill {
    width: 250px;
    padding: 11px 20px 16px 20px;
    border: 1px solid #F4F4F4;
    box-sizing: border-box;
    border-radius: 6px;
}

.imgs-skills {
    position: relative;
    margin-top: 6px;
}

.img1 {
    position: absolute;
}

.img2 {
    position: absolute;
    left: 15px;
}

.img3 {
    position: absolute;
    left: 30px;
}

.img4 {
    position: absolute;
    left: 45px;
}

.img5 {
    position: absolute;
    left: 60px;
}

.icon-plus {
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    background: #0275B1;
    position: absolute;
    left: 75px;
    cursor: pointer;
}

.icon-plus span {
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 24%;
}

.skills h4 {
    font-size: 14px;
    line-height: 150%;
}

.skill-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skill-number {
    font-size: 14px;
    font-weight: 500;
    color: #0275B1;
}

.experience {
    width: 100%;
    height: 345px;
    background: #fff;
    margin: 20px 0;
}

.experience-top,
.education-container {
    width: 790px;
    height: 131px;
    display: flex;
    margin-top: 25px;
}

.experience-top {
    border-bottom: 1px solid #F4F4F4;
}


.experience-info {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.inf-wrapper {
    margin: 10px 0 5px 0;
}

.experience-work {
    font-size: 10px;
    line-height: 150%;
    margin-top: 10px;
}

.experience-info span {
    font-size: 10px;
}

.which-contries,
.year {
    font-family: Gotham Pro;
    font-weight: 300;
}

.which-contries {
    margin-left: 10px;
}

.year {
    margin-right: 10px;
}

.period {
    color: #0275B1;
}

.experience-bottom {
    width: 790px;
    height: 131px;
    display: flex;
    margin-top: 20px;
}

.education {
    width: 100%;
    height: 195px;
    background: #fff;
}

.degree {
    margin: 10px 0 8px 0;
}

.year {
    margin-bottom: 9px;
}