main {
    font-weight: 400;
    color: #181818;
    width: calc(850 / 1180 * 100%);
}

main h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 17px;
}

main h4,
aside h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
}

.text {
    font-size: 14px;
}

.profile {
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 30px 35px;
    background-image: url(../images/png/profile-bg.png);
    background-repeat: no-repeat;
}

.profile-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.upload {
    display: flex;
    align-items: center;
    height: 36px;
    width: 36px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 10px 30px rgba(113, 123, 133, 0.05);
    border-radius: 4px;
    cursor: pointer;
}

.icon-upload {
    height: 16px;
    width: 16px;
    background: url(../images/svg/upload.svg) no-repeat;
    margin: auto;
}

.edit-profile {
    display: flex;
}

.edit {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 36px;
    width: 132px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 10px 30px rgba(113, 123, 133, 0.05);
    border-radius: 4px;
    cursor: pointer;
}

.edit b {
    font-weight: 400;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
}

.icon-edit {
    height: 16px;
    width: 16px;
    background: url(../images/svg/edit.svg) no-repeat;
}

.more {
    display: flex;
    height: 36px;
    width: 36px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 10px 30px rgba(113, 123, 133, 0.05);
    border-radius: 4px;
    margin-left: 10px;
}

.user-info {
    display: flex;
    justify-content: space-between;
}

.icon-more {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 24px;
    height: 19px;
    cursor: pointer;
    margin: auto;
}

.icon-more span {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #181818;
}

.location {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.avatar {
    margin-right: 25px;
}

.name-profile {
    display: flex;
    align-items: center;
}

.name-profile img {
    margin-left: 4px;
}

.name-profile span {
    font-weight: 700;
    font-size: 18px;
    line-height: 17px;
}

.geolocation {
    display: flex;
    align-items: center;
}

.geolocation img {
    margin-right: 8px;
}

.geolocation span {
    font-size: 12px;
}

.practice {
    margin: 15px 0 14px 0;
}

.buttons-info {
    display: flex;
}

.button-info {
    width: 170px;
    height: 32px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    cursor: pointer;
    background: #FFFFFF;
    border: 1px solid #0275B1;
    color: #0275B1;
    margin-right: 15px;
}

.buttons-info .active,
.fast-access .active {
    width: 170px;
    height: 32px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
    color: #FFFFFF;
}

button:focus {
    outline: none;
}

.buttons {
    display: flex;
    align-items: flex-end;
    margin: 21px 0 30px 0;
}

.buttons div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E7E7E7;
    background: #FFFFFF;
    width: 240px;
    height: 40px;
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    color: #000;
}

.buttons .active {
    height: 50px;
    width: 240px;
    background: linear-gradient(180deg, #0077B5 0%, #0E6795 100%);
    border-radius: 4px 4px 0 0;
    font-weight: 500;
    color: #FFFFFF;
}

.about-text {
    display: block;
    margin: 15px 0 20px 0;
    line-height: 150%;
    overflow: hidden;
    max-height: 61px;
    transition: .7s;
}

.link {
    display: flex;
    margin-top: 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    text-decoration: none;
    color: #0275B1;
    cursor: pointer;
    background: none;
    border: none;
}

.projects {
    margin: 20px 0;
}

.title-project {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.projects .title-project span {
    font-size: 18px;
    line-height: 17px;
    color: #747474;
    margin-left: 10px;
}

.projects-slider {
    display: flex;
    justify-content: space-between;
    max-height: 215px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    transition: .7s;
    overflow: hidden;
    cursor: pointer;
}

.project {
    display: flex;
    flex-direction: column;
    margin: 0 auto 15px;
    pointer-events: none;
    cursor: pointer;
}

.project h4 {
    margin-bottom: 5px;
}

.project img {
    margin-bottom: 15px;
}

.project-about {
    font-weight: 300;
    font-size: 10px;
}

.project-data {
    font-weight: 300;
    font-size: 10px;
    line-height: 150%;
}

.skills {
    display: flex;
    justify-content: space-between;
    max-height: 90px;
    transition: .7s;
    flex-wrap: wrap;
    overflow: hidden;
    margin-top: 24px;
}

.skill {
    width: calc(250 / 790 * 100%);
    height: 80px;
    padding: 11px 20px 16px 20px;
    margin-bottom: 10px;
    border: 1px solid #F4F4F4;
}

.imgs-skills {
    position: relative;
    margin-top: 6px;
}

.img1 {
    position: absolute;
}

.img2 {
    position: absolute;
    left: 15px;
}

.img3 {
    position: absolute;
    left: 30px;
}

.img4 {
    position: absolute;
    left: 45px;
}

.img5 {
    position: absolute;
    left: 60px;
}

.icon-plus {
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #0275B1;
    position: absolute;
    left: 75px;
    cursor: pointer;
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.skills h4 {
    font-size: 14px;
    line-height: 150%;
}

.skill-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skill-number {
    font-size: 14px;
    font-weight: 500;
    color: #0275B1;
}

.experience {
    margin: 20px 0;
}

.experience-top {
    display: flex;
    padding: 25px 0;
    border-bottom: 1px solid #F4F4F4;
}

.experience-info {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.inf-wrapper {
    margin: 10px 0 5px 0;
}

.experience-work {
    font-size: 10px;
    line-height: 150%;
    margin-top: 10px;
}

.experience-info span {
    font-size: 10px;
}

.which-contries,
.year {
    font-weight: 300;
}

.which-contries {
    margin-left: 10px;
}

.year {
    margin-right: 10px;
}

.period {
    color: #0275B1;
}

.education-container {
    display: flex;
    margin-top: 25px;
}

.experience-bottom {
    display: flex;
    padding-top: 20px;
}

.degree {
    margin: 10px 0 8px 0;
}

.year {
    margin-bottom: 9px;
}

.grabbing {
    cursor: grabbing;
}

.container-more button span:last-child {
    display: none;
    margin-left: 4px;
}

.container-more.active button span:first-child {
    display: none;
}

.container-more button span:first-child {
    order: 1;
    margin-left: 4px;
}

.container-more.active button span:last-child {
    display: inline-block;
}

@media screen and (max-width: 767px) {
    .profile {
        height: 300px;
        background-size: 100% 150px;
        padding: 15px 20px 20px;
    }

    main .button-info,
    main .buttons-info .active {
        width: 150px;
        height: 26px;
    }

    .text {
        font-size: 11px;
    }

    .avatar-big {
        height: 145px;
    }

    .practice {
        margin: 10px 0 14px 0;
    }
}

@media screen and (max-width: 991px) {
    .content {
        justify-content: center;
        margin: 40px 10px;
    }

    main {
        width: 100%;
        max-width: 830px;
    }

    main h3 {
        font-size: 17px;
    }

    .show-all {
        margin-top: 25px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .content {
        margin: 40px 25px;
    }

    main .button-info,
    main .buttons-info .active {
        height: 28px;
    }
}
@media screen and (max-width: 1199px) and (min-width: 992px) {
    .skill {
        width: calc(250 / 790 * 122%);
        padding: 11px 25px 16px 25px;
        margin: 0 auto 10px;
    }
}

@media screen and (max-width: 1199px) {
    .name-profile {
        margin-right: 10px;
    }

    .geolocation {
        margin-top: 5px;
    }

    .geolocation img {
        order: 1;
        margin-left: 8px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1439px) {
    main section {
        padding: 22px;
    }

    .projects {
        padding-right: 45px;
    }

    .show-all {
        margin-top: 20px;
    }
}

@media screen and (min-width: 1440px) {
    .other {
        margin-right: 30px;
    }
}