* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	display: flex;
    flex-wrap: wrap;
    background-color: #F6F8FA;
    margin: 0;
    padding: 0;
}

main {
    font-family: 'Gotham Pro';
    font-weight: 400;
    color: #181818;
}

header, aside, footer {
    font-family: 'Gotham Pro';
    font-weight: 500;
    color: #181818;
}

section {
    padding: 30px;
}

.content {
	margin: 40px auto;
	display: flex;
}
